*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

body {
    font-size: 16px;
    color: #333333;
    font-family: Arial, sans-serif;

}

h1 {
    font-size: 36px;
    color: #1a1a1a;
    text-align: center;
    margin-top: 30px;
    padding-left: 35px;
    font-weight: bold;
    font-style: italic;
}

nav {
    font-size: 36px;
    color: #1a1a1a;
    text-align: center;
    margin-top: 30px;
    padding-left: 35px;
    font-weight: bold;
    font-style: italic;
}