*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

card-body {
    max-width: 80%;
    border: 2px solid black;
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px;
    padding: 0 1em 1em;
    margin: 4px;
}

button {
    padding: 0.8m 1.5em;
    border: 2px solid black;
    border-radius: 1.5em;
    background-color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 0 2px;

}