.card-body {
  max-width: 17em;
  border: 2px solid black;
  border-radius: 1em;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px;
  padding: 0 1em 1em;
  margin: 150px auto;
  text-align: center;

}

button {
  padding: 0.8em 1.5em;
  border: 2px solid black;
  border-radius: 1.5em;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 0 2px;
  text-align: center;

}